{% load static %}

{% include 'header.html' %}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Games Start ***** -->
        <div class="row">
          <div class="col-lg-8">
            <div class="featured-games header-text">
              <div class="heading-section">
                <h4><em>가장 인기있는</em>  영화</h4>
              </div>

              <!-- ✅ 캐러셀: 최근에 가장 인기있는 영화 -->
              <div class="owl-features owl-carousel">
                {% for m in featured_movies %}
                <div class="item">
                  <div class="thumb">
                    <img src="{{ m.poster_url }}" alt="{{ m.title }}">
                    <div class="hover-effect">
                      <h6>{{ m.popularity|default:"0" }} Trending</h6>
                    </div>
                  </div>
                  <h4>{{ m.title }}<br><span>인기도 {{ m.popularity }}</span></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> {{ m.vote|floatformat:1 }}</li>
                    <li><i class="fa fa-download"></i> {{ m.popularity }}</li>
                  </ul>
                </div>
                {% empty %}
                <!-- 데이터가 없을 때 기본 3개 카드 (정적 fallback) -->
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/default-movie.jpg' %}" alt="No Data">
                    <div class="hover-effect">
                      <h6>0 Trending</h6>
                    </div>
                  </div>
                  <h4>데이터 없음<br><span>인기도 0</span></h4>
                  <ul>
                    <li><i class="fa fa-star"></i> 0.0</li>
                    <li><i class="fa fa-download"></i> 0</li>
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="top-downloaded">
              <div class="heading-section">
                <h4><em>현재 뜨는 장르</em> Top3</h4>
              </div>

              <!-- ✅ 현재 뜨는 장르 Top3 + 각 장르 대표 영화 -->
              <ul>
                {% for g in top_genres %}
                <li>
                  <img src="{{ g.poster_url }}" alt="{{ g.title }}" class="templatemo-item">
                  <h4>{{ g.title }}</h4>
                  <h6>{{ g.genre_name }}</h6>
                  <span><i class="fa fa-star" style="color: yellow;"></i> {{ g.vote|floatformat:1 }}</span>
                  <span><i class="fa fa-download" style="color: #ec6090;"></i> {{ g.popularity }}</span>
                  <div class="download">
                    <a href="#"><i class="fa fa-download"></i></a>
                  </div>
                </li>
                {% empty %}
                <li>
                  <img src="{% static 'assets/images/default-movie.jpg' %}" alt="No Data" class="templatemo-item">
                  <h4>데이터 없음</h4>
                  <h6>장르</h6>
                  <span><i class="fa fa-star" style="color: yellow;"></i> 0.0</span>
                  <span><i class="fa fa-download" style="color: #ec6090;"></i> 0</span>
                  <div class="download">
                    <a href="#"><i class="fa fa-download"></i></a>
                  </div>
                </li>
                {% endfor %}
              </ul>

              
            </div>
          </div>
        </div>
        <!-- ***** Featured Games End ***** -->

        

        <!-- ***** Live Stream Start ***** -->
        <div class="live-stream">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>인기있는 감독의</em> 작품</h4>
            </div>
          </div>

          <!-- ✅ 인기있는 감독 4명 그리드 -->
          <div class="row">
            {% for d in popular_directors %}
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                
                    <div class="content">
                      <div class="live">
                        <a href="#">Director</a>
                      </div>
                      <ul>
                        <li><a href="#"><i class="fa fa-eye"></i> {{ d.popularity }}</a></li>
                        <li><a href="#"><i class="fa fa-film"></i> 대표작</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="down-content">
                  
                  <span><i class="fa fa-check"></i> {{ d.name }}</span>
                  <h4>{{ d.top_work }}</h4>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="col-lg-12">
              <p>감독 데이터가 없습니다.</p>
            </div>
            {% endfor %}
          </div>

          <div class="col-lg-12">
            <div class="main-button">
              <a href="{% url 'streams' %}">Discover All Streams</a>
            </div>
          </div>
        </div>
        <!-- ***** Live Stream End ***** -->

      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

<!-- Scripts -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/tabs.js' %}"></script>
<script src="{% static 'assets/js/popup.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
