{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Details</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- (선택) 여기에 CSS를 추가로 넣고 싶다면 static 링크로 넣어주세요
  <link rel="stylesheet" href="{% static 'assets/css/your.css' %}">
  -->
</head>
<body>

{% include 'header.html' %}

<!-- Preloader -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span><span></span><span></span>
    </div>
  </div>
</div>

<!-- 메인 컨텐츠 -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="feature-banner header-text">
              <div class="row">
                <div class="col-lg-4">
                  <img src="{% static 'assets/images/feature-left.jpg' %}" alt="" style="border-radius: 23px;">
                </div>
                <div class="col-lg-8">
                  <div class="thumb">
                    <img src="{% static 'assets/images/feature-right.jpg' %}" alt="" style="border-radius: 23px;">
                    <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank" rel="noopener"><i class="fa fa-play"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Featured End ***** -->

        <!-- ***** Details Start ***** -->
        <div class="game-details">
          <div class="row">
            <div class="col-lg-12">
              <h2>Fortnite Details</h2>
            </div>
            <div class="col-lg-12">
              <div class="content">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="left-info">
                      <div class="left">
                        <h4>Fortnite</h4>
                        <span>Sandbox</span>
                      </div>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-info">
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                        <li><i class="fa fa-server"></i> 36GB</li>
                        <li><i class="fa fa-gamepad"></i> Action</li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <img src="{% static 'assets/images/details-01.jpg' %}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>
                  <div class="col-lg-4">
                    <img src="{% static 'assets/images/details-02.jpg' %}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>
                  <div class="col-lg-4">
                    <img src="{% static 'assets/images/details-03.jpg' %}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>

                  <div class="col-lg-12">
                    <p>
                      Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.
                      You can make a <a href="https://paypal.me/templatemo" target="_blank" rel="noopener">small contribution via PayPal</a> to
                      info [at] templatemo.com and thank you for supporting.
                    </p>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-border-button">
                      <a href="#">Download Fortnite Now!</a>
                    </div>
                  </div>

                </div><!-- row -->
              </div><!-- content -->
            </div>
          </div>
        </div>
        <!-- ***** Details End ***** -->

        <!-- ***** Other Start ***** -->
        <div class="other-games">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Other Related</em> Games</h4>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="item">
                <img src="{% static 'assets/images/game-01.jpg' %}" alt="" class="templatemo-item">
                <h4>Dota 2</h4><span>Sandbox</span>
                <ul>
                  <li><i class="fa fa-star"></i> 4.8</li>
                  <li><i class="fa fa-download"></i> 2.3M</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="item">
                <img src="{% static 'assets/images/game-02.jpg' %}" alt="" class="templatemo-item">
                <h4>Dota 2</h4><span>Sandbox</span>
                <ul>
                  <li><i class="fa fa-star"></i> 4.8</li>
                  <li><i class="fa fa-download"></i> 2.3M</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="item">
                <img src="{% static 'assets/images/game-03.jpg' %}" alt="" class="templatemo-item">
                <h4>Dota 2</h4><span>Sandbox</span>
                <ul>
                  <li><i class="fa fa-star"></i> 4.8</li>
                  <li><i class="fa fa-download"></i> 2.3M</li>
                </ul>
              </div>
            </div>

            <!-- 필요 시 추가 항목들 계속 반복 -->
          </div>
        </div>
        <!-- ***** Other End ***** -->

      </div><!-- page-content -->
    </div>
  </div>
</div>

{% include 'footer.html' %}

<!-- Scripts -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/tabs.js' %}"></script>
<script src="{% static 'assets/js/popup.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
